<h3>{{ _('MyLight Configuration') }}</h3>
<p>{{ _('Start changing looks, how it is behaving and some more technical aspects like GPIO pins, pwm?') }}</p>

<form class="form-horizontal">
	<h4>{{ _('Appearance') }}</h4>
	<p>How does it look? The on status:  
		<span style="border: 1px solid black;" data-bind="style: {backgroundColor: CurrentBGColor(), backgroundImage: CurrentGradient() }">
			<a style="text-decoration: none; padding-left: 5px;padding-right: 5px;" data-bind="html: settings.plugins.mylight.light_button_html_on, style: { color: settings.plugins.mylight.light_button_html_on_color }"></a>
		</span>
		and the off status:
		<span style="border: 1px solid black;" data-bind="style: {backgroundColor: CurrentBGColor(), backgroundImage: CurrentGradient() }">
			<a style="text-decoration: none; padding-left: 5px;padding-right: 5px;" data-bind="html: settings.plugins.mylight.light_button_html_off, style: { color: settings.plugins.mylight.light_button_html_off_color }"></a>
		</span>
		. Configure their text and color using the controls below.
	</p>
	

	<div class="control-group">
		<label class="control-label">{{ _('Light [ON] text:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Defines the text / html of the button in the navigation bar when the Light is on.') }}">
            <div class="input-append">
				<input type="text"  class="input text-left" data-bind="value: settings.plugins.mylight.light_button_html_on">
			</div>
        </div>
		<label class="control-label">{{ _('Light [ON] color:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Defines the color of the button in the navigation bar when the Light is off.') }}">
            <div class="input-append">
				<input type="text"  class="input-mini text-left" data-bind="value: settings.plugins.mylight.light_button_html_on_color">
			</div>
        </div>
				 
	</div>
	
		
	<div class="control-group">
		<label class="control-label">{{ _('Light [OFF] text:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Defines the text / html of the button in the navigation bar when the Light is off.') }}">
            <div class="input-append">
				<input type="text"  class="input text-left" data-bind="value: settings.plugins.mylight.light_button_html_off">
			</div>
        </div>
		<label class="control-label">{{ _('Light [OFF] color:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Defines the color of the button in the navigation bar when the Light is on.') }}">
            <div class="input-append">
				<input type="text"  class="input-mini text-left" data-bind="value: settings.plugins.mylight.light_button_html_off_color">
			</div>
        </div>
	</div>
	
	<h4>{{ _('Behaviour') }}</h4>
	<p>{{ _('How does it behave? You can configure the light to be on / off when octorpint plugin starts. You can set the light to turn on, when the printing starts and off when the print finishes properly.') }}</p>

    <div class="control-group">
				
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.mylight.light_startup_on"> Turn light ON when octoprint / plugin starts.
			</label>
		</div>
		
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.mylight.light_start_on_print"> Turn light ON when starting print.
			</label>
		</div>		
		
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.mylight.light_stop_on_print"> Turn light OFF when print is done.
			</label>
		</div>
		
    </div>

	
	<h4>{{ _('Technical stuff') }}</h4>
	<p>{{ _("GPIO pins, PWM settings, Rotary encoder and stuff? The board mode is set to <code>GPIO.setmode(GPIO.BCM)</code> per default, the pin numbering is according to
		their names NOT their numbers (e.g. GPIO17). This can be changed to <code>GPIO.setmode(GPIO.BOARD)</code> in the Advanced Settings. All switches / inputs are being pulled high / up. At the moment, the red LED pin is used as indicator for switch inputs and shutdown confirmation (if enabled).") }}</p>
	<div class="control-group">
        
		<label class="control-label">{{ _('Light Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Which GPIO pin your light is attached to.') }}">
            <div class="input-append">
				<input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.light_pin">
				<button class="btn" data-bind="click: function() { testConfiguration() }"><i class="icon-spinner icon-spin" data-bind="visible: testActive()"></i> {{ _('test') }}</button>
			</div>
			<span data-bind="visible: testResult() && testSuccessful()">{{ _('Test success ') }}: </span>
			<span data-bind="visible: testResult() && !testSuccessful()">{{ _('Test failed ') }}: </span>
			<span data-bind="text: testMessage"></span>
		</div>
		
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.mylight.light_use_pwm"> Use PWM
			</label>
		</div>
		
		<div data-bind="visible: settings.plugins.mylight.light_use_pwm">
			<label class="control-label">{{ _('PWM Duty Cycle:') }}</label>
			<div class="controls" data-toggle="tooltip" title="{{ _('Brightness / Duty cycle for PWM (from 0 to 100).') }}">
				<div class="input-append">        
					<input type="number" step="1" min="0" max="100" class="input-mini text-right" data-bind="value: settings.plugins.mylight.light_dc">
					<span class="add-on">%</span>
				</div>
			</div>
			
			<label class="control-label">{{ _('PWM Frequency:') }}</label>
			<div class="controls" data-toggle="tooltip" title="{{ _('PWM Frequency in Herz (200 Hz should do nicely).') }}">
				<div class="input-append">
					<input type="number" step="1" min="0" max="900" class="input-mini text-right" data-bind="value: settings.plugins.mylight.light_freq">
					<span class="add-on">Hz</span>
				</div>
			</div>
			<label class="control-label">{{ _('PWM on start:') }}</label>
			<div class="controls" data-toggle="tooltip" title="{{ _('PWM Brightness / Duty cycle on starting print if enabled.(from 0 to 100)') }}">
				<div class="input-append">
					<input type="number" step="1" min="0" max="100" class="input-mini text-right" data-bind="value: settings.plugins.mylight.light_dc_print_start">
					<span class="add-on">%</span>
				</div>
				<span class="help-inline">PWM Brightness / Duty cycle on starting a print if enabled.</span>
			</div>
		</div>
	</div>
	<div class="control-group">	
		<label class="control-label">{{ _('Switch Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Rotary Encoder or other Switch pin for input.') }}">
            <input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.re_switch_pin">
        </div>
		
		<label class="control-label">{{ _('Encoder A Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Rotary Encoder, or other switch A pin. Switch A and C pins to inverse direction.') }}">
            <input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.re_a_pin">
        </div>
		
		<label class="control-label">{{ _('Encoder C Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Rotary Encoder, or other switch C pin. Switch A and C pins to inverse direction.') }}">
            <input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.re_c_pin">
        </div>
		
		<label class="control-label">{{ _('Red LED Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Rotary Encoder / Red LED pin. Used as indicator light.') }}">
            <input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.re_r_led_pin">
        </div>		
		
		<label class="control-label">{{ _('Green LED Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Rotary Encoder / Green LED pin.') }}">
            <input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.re_g_led_pin">
        </div>
		
		<label class="control-label">{{ _('Blue LED Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Rotary Encoder / Blue LED pin.') }}">
            <input type="number" step="any" min="-1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.re_b_led_pin">
        </div>
					
    </div>
	
	<div><small><a href="#" class="muted" data-bind="toggleContent: { class: 'icon-caret-right icon-caret-down', container: '#settings_plugin_mylight .hide' }"><i class="icon-caret-right"></i> Advanced options</a></small></div>
		<div class="hide" >
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.mylight.gpio_use_board"> Use <code>GPIO.setmode(GPIO.BOARD)</code> instead of <code>GPIO.setmode(GPIO.BCM)</code>
				</label>
			</div>
			
			<div class="controls">			
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.mylight.shutdown_longpress"> System shutdown on switch longpress
				</label>
			</div>	
			
			<label class="control-label">{{ _('Longpress duration:') }}</label>
			<div class="controls" data-toggle="tooltip" title="{{ _('Duration for a longpress to register in seconds.') }}">
				<div class="input-append">
					<input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: settings.plugins.mylight.shutdown_longpress_s">
					<span class="add-on">s</span>
				</div>
			</div>
					
			
			<span class="help-inline">
				MORE.. which pin for indicator light, switch debounce? Pup / pdown?
			</span>
		</div>
	
</form>
