<a id="navbar_light_toggle" class="pull-right" style="display: None;" href="javascript.void(0)" data-bind="click: function() { toggle_light() }, style: { color: LightStatus() ? 'white' : 'grey' }, visible: loginState.isAdmin" title="Light toggler">
	<i class="icon-lightbulb"></i>
	<span data-bind="text: Light_nav_text"></span>
</a>

