<a id="navbar_light_toggle" style="display: None;" href="javascript.void(0)" data-bind="html: Light_nav_text, click: function() { toggle_light(); }, style: { color: Light_nav_text_color }, visible: loginState.isAdmin" title="Light toggler"></a>